<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InserirCliente</servlet-name>
        <servlet-class>controller.InserirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>controller.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>controller.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirServico</servlet-name>
        <servlet-class>controller.InserirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirServico</servlet-name>
        <servlet-class>controller.ExcluirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarServico</servlet-name>
        <servlet-class>controller.AlterarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controller.InserirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controller.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controller.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controller.InserirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controller.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controller.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InserirCliente</servlet-name>
        <url-pattern>/inserir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/alterar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/excluir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirServico</servlet-name>
        <url-pattern>/inserir_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirServico</servlet-name>
        <url-pattern>/excluir_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarServico</servlet-name>
        <url-pattern>/alterar_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
